@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  min-height: 100vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  background-color: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header > .nav {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0.8rem 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header > .nav > .logo {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;

  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header > .nav > .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
.header > .nav > .menu > .link > a {
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: #fff;

  transition: 0.2s;
}
.header > .nav > .menu > .link > a:hover {
  filter: brightness(0.8);
}

.main {
  max-width: 114rem;
  margin: 11rem auto 0 auto;
  padding: 0 2rem;
}

.main > .theme {
  display: flex;
  justify-content: end;
}

.main > .theme > .switcher {
  position: relative;
  width: 7rem;
  height: 3.5rem;
  padding: 0 0.5rem;
  background: var(--label);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 59px;

  cursor: pointer;

  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */


  -webkit-box-shadow: 0px 1px 5px 0px var(--dark);
  -moz-box-shadow: 0px 1px 5px 0px var(--dark);
  box-shadow: 0px 1px 5px 0px var(--dark);
}

.main > .theme > .switcher > img {
  width: 2.5rem;
  height: 2.5rem;
}

.main > .theme > .switcher > .ball {
  position: absolute;
  left: 6%;
  transform: translateX(-6%);
  width: 2.5rem;
  height: 2.5rem;
  background: var(--light);

  border-radius: 100%;

  transition: 0.3s;
}

.main > .theme > .switcher > .ball.active {
  left: 94%;
  transform: translateX(-94%);
}



